/*Main CSS*/
html {
    font-family: 'Roboto', sans-serif;
    background-color: #2F4858;
}

li {
    width: 100%;
    margin: 0px 5px;
    padding: 5px 10px;
    font-size: 16pt;
    color: rgb(112, 112, 112);
    font-weight: bold;

}

li > div {
    height: 100%;
    text-align: center;
    vertical-align: bottom;
    padding: 13px;
}

body {
    margin: 0px;
}

#preset_1, #preset_2, #preset_3, #preset_4, #preset_5{
    transition: 0.4s;
}

#preset_1:hover, #preset_2:hover, #preset_3:hover, #preset_4:hover, #preset_5:hover {
    color: black;
    cursor: pointer;
}

#li_image {
    height: auto;
}

#logo {
    width: 50%;
    height: auto;
}

#content {
    display: flex;
    flex-direction: column;
}

#nav {
    list-style: none;
    display: flex;
    background-color: #D7F5E0;
    margin: 0px;
    padding: 10px 15px;
}

#container, #footer {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding: 20px;
}

#left_container {
    border: 1px solid black;
    flex: 4;
}

#middle_container {
    border: 1px solid black;
    flex: 2;
}

#right_container {
    border: 1px solid black;
    flex: 6;
}

#options {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#colors, #tires, #engines, #other{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #D7F5E0;
}

#left_footer {
    border: 1px solid black;
    flex: 4;
}

#middle_footer {
    border: 1px solid black;
    flex: 8;
}

#right_footer {
    border: 1px solid black;
    flex: 4;
}

/*Media Queries*/
@media all and (max-width: 900px){}
@media all and (max-width: 650px){}